html,
body {
  padding: 0;
  margin: 0;
  font-family: Courier, monospace;
}

@media screen and (min-width: 2000px) {
  html,
  body {
    font-size: 150%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
